body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding : 10px;
    background-color: #343A40;
    align-items: center;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    list-style: none;
    display: flex;
}

.nav-items> ul> li{
    padding: 0 10px;
    color: white;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
.search-container{
    text-align: center;
    margin: auto;
    padding: 10px 0 0;
}
.search-container > input{
    width: 300px;
    padding: 2px;
}
.search-container > button{
    margin-left: 10px;
    border-radius: 3px;
    border: 0;
    background-color: #F49142;
    padding: 02px 5px ;
    cursor: pointer;
}